USE [VMS_FAD]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetVisitorsDetails1'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetVisitorsDetails1'
GO
/****** Object:  StoredProcedure [dbo].[UpdateRole]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[UpdateRole]
GO
/****** Object:  StoredProcedure [dbo].[sp_NewRole]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[sp_NewRole]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[sp_CreateUser]
GO
/****** Object:  StoredProcedure [dbo].[IsRoleExistsForUpdate]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[IsRoleExistsForUpdate]
GO
/****** Object:  StoredProcedure [dbo].[IsRoleExists]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[IsRoleExists]
GO
/****** Object:  StoredProcedure [dbo].[InsertNewRole]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[InsertNewRole]
GO
/****** Object:  StoredProcedure [dbo].[InsertLogInfo]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[InsertLogInfo]
GO
/****** Object:  StoredProcedure [dbo].[GetUserPrivileges]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetUserPrivileges]
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUserName]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetUserByUserName]
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUserID]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetUserByUserID]
GO
/****** Object:  StoredProcedure [dbo].[GetRoleByRoleName]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetRoleByRoleName]
GO
/****** Object:  StoredProcedure [dbo].[GetRoleByRoleID]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetRoleByRoleID]
GO
/****** Object:  StoredProcedure [dbo].[GetPrivilegeByPage]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetPrivilegeByPage]
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetAllUsers]
GO
/****** Object:  StoredProcedure [dbo].[GetAllRoles]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetAllRoles]
GO
/****** Object:  StoredProcedure [dbo].[GetAllPrivileges]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[GetAllPrivileges]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[DeleteUser]
GO
/****** Object:  StoredProcedure [dbo].[DeleteARole]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[DeleteARole]
GO
/****** Object:  StoredProcedure [dbo].[ChangePassWord]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP PROCEDURE [dbo].[ChangePassWord]
GO
ALTER TABLE [dbo].[tblUSER] DROP CONSTRAINT [FK_tblUSER_UnitMaster]
GO
ALTER TABLE [dbo].[LocationVisitorMap] DROP CONSTRAINT [FK_LocationVisitorMap_LocationMasterNew]
GO
ALTER TABLE [dbo].[VisitorRegistration] DROP CONSTRAINT [DF_VisitorRegistration_Status]
GO
ALTER TABLE [dbo].[AppointmentApprovalTransaction] DROP CONSTRAINT [DF_AppointmentApprovalTransaction_Status]
GO
ALTER TABLE [dbo].[AppointmentApprovalTransaction] DROP CONSTRAINT [DF_AppointmentApprovalTransaction_StatusOfCustomOfficer]
GO
ALTER TABLE [dbo].[AppointmentApprovalTransaction] DROP CONSTRAINT [DF_AppointmentApprovalTransaction_StatusOfAdmin]
GO
ALTER TABLE [dbo].[AppointmentApprovalTransaction] DROP CONSTRAINT [DF_AppointmentApprovalTransaction_StatusOfHOD]
GO
/****** Object:  Table [dbo].[ZoneMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZoneMaster]') AND type in (N'U'))
DROP TABLE [dbo].[ZoneMaster]
GO
/****** Object:  Table [dbo].[VisitorsHistory]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VisitorsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[VisitorsHistory]
GO
/****** Object:  Table [dbo].[VisitorRFIDMapping]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VisitorRFIDMapping]') AND type in (N'U'))
DROP TABLE [dbo].[VisitorRFIDMapping]
GO
/****** Object:  Table [dbo].[VisitorRegistration]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VisitorRegistration]') AND type in (N'U'))
DROP TABLE [dbo].[VisitorRegistration]
GO
/****** Object:  Table [dbo].[VisitorFingerPrintImageDetails]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VisitorFingerPrintImageDetails]') AND type in (N'U'))
DROP TABLE [dbo].[VisitorFingerPrintImageDetails]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRegistration]') AND type in (N'U'))
DROP TABLE [dbo].[UserRegistration]
GO
/****** Object:  Table [dbo].[UnitMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UnitMaster]') AND type in (N'U'))
DROP TABLE [dbo].[UnitMaster]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionDetails]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionDetails]
GO
/****** Object:  Table [dbo].[TempretureMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempretureMaster]') AND type in (N'U'))
DROP TABLE [dbo].[TempretureMaster]
GO
/****** Object:  Table [dbo].[tblUSER]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUSER]') AND type in (N'U'))
DROP TABLE [dbo].[tblUSER]
GO
/****** Object:  Table [dbo].[TblState]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TblState]') AND type in (N'U'))
DROP TABLE [dbo].[TblState]
GO
/****** Object:  Table [dbo].[tblROLE]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblROLE]') AND type in (N'U'))
DROP TABLE [dbo].[tblROLE]
GO
/****** Object:  Table [dbo].[tblLOG]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblLOG]') AND type in (N'U'))
DROP TABLE [dbo].[tblLOG]
GO
/****** Object:  Table [dbo].[tblcitylist]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblcitylist]') AND type in (N'U'))
DROP TABLE [dbo].[tblcitylist]
GO
/****** Object:  Table [dbo].[PurposeofVisitMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PurposeofVisitMaster]') AND type in (N'U'))
DROP TABLE [dbo].[PurposeofVisitMaster]
GO
/****** Object:  Table [dbo].[PageMap]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PageMap]') AND type in (N'U'))
DROP TABLE [dbo].[PageMap]
GO
/****** Object:  Table [dbo].[LocationVisitorMap]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LocationVisitorMap]') AND type in (N'U'))
DROP TABLE [dbo].[LocationVisitorMap]
GO
/****** Object:  Table [dbo].[LocationMasterNew]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LocationMasterNew]') AND type in (N'U'))
DROP TABLE [dbo].[LocationMasterNew]
GO
/****** Object:  Table [dbo].[LocationMaster1]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LocationMaster1]') AND type in (N'U'))
DROP TABLE [dbo].[LocationMaster1]
GO
/****** Object:  Table [dbo].[ItemsCarried_PriorAppointments]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemsCarried_PriorAppointments]') AND type in (N'U'))
DROP TABLE [dbo].[ItemsCarried_PriorAppointments]
GO
/****** Object:  Table [dbo].[ItemsCarried]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemsCarried]') AND type in (N'U'))
DROP TABLE [dbo].[ItemsCarried]
GO
/****** Object:  Table [dbo].[ImagesMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImagesMaster]') AND type in (N'U'))
DROP TABLE [dbo].[ImagesMaster]
GO
/****** Object:  Table [dbo].[GatePassHistory]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GatePassHistory]') AND type in (N'U'))
DROP TABLE [dbo].[GatePassHistory]
GO
/****** Object:  Table [dbo].[EmployeeMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeMaster]') AND type in (N'U'))
DROP TABLE [dbo].[EmployeeMaster]
GO
/****** Object:  Table [dbo].[DocumentMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentMaster]') AND type in (N'U'))
DROP TABLE [dbo].[DocumentMaster]
GO
/****** Object:  Table [dbo].[DeviceLocation]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeviceLocation]') AND type in (N'U'))
DROP TABLE [dbo].[DeviceLocation]
GO
/****** Object:  Table [dbo].[DepartmentMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DepartmentMaster]') AND type in (N'U'))
DROP TABLE [dbo].[DepartmentMaster]
GO
/****** Object:  Table [dbo].[ContactCenterMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContactCenterMaster]') AND type in (N'U'))
DROP TABLE [dbo].[ContactCenterMaster]
GO
/****** Object:  Table [dbo].[ApprovalMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApprovalMaster]') AND type in (N'U'))
DROP TABLE [dbo].[ApprovalMaster]
GO
/****** Object:  Table [dbo].[AppointmentScheduleHistory]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppointmentScheduleHistory]') AND type in (N'U'))
DROP TABLE [dbo].[AppointmentScheduleHistory]
GO
/****** Object:  Table [dbo].[AppointmentSchedule]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppointmentSchedule]') AND type in (N'U'))
DROP TABLE [dbo].[AppointmentSchedule]
GO
/****** Object:  Table [dbo].[AppointmentApprovalTransaction]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppointmentApprovalTransaction]') AND type in (N'U'))
DROP TABLE [dbo].[AppointmentApprovalTransaction]
GO
/****** Object:  Table [dbo].[AdditonalPersonsDetails]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdditonalPersonsDetails]') AND type in (N'U'))
DROP TABLE [dbo].[AdditonalPersonsDetails]
GO
/****** Object:  View [dbo].[GetVisitorsDetails1]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP VIEW [dbo].[GetVisitorsDetails1]
GO
/****** Object:  Table [dbo].[VisitorMaster]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VisitorMaster]') AND type in (N'U'))
DROP TABLE [dbo].[VisitorMaster]
GO
/****** Object:  Table [dbo].[VisitorAddress]    Script Date: 3/10/2025 1:11:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VisitorAddress]') AND type in (N'U'))
DROP TABLE [dbo].[VisitorAddress]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP USER [NT AUTHORITY\SYSTEM]
GO
USE [master]
GO
/****** Object:  Database [VMS_FAD]    Script Date: 3/10/2025 1:11:54 PM ******/
DROP DATABASE [VMS_FAD]
GO
/****** Object:  Database [VMS_FAD]    Script Date: 3/10/2025 1:11:54 PM ******/
CREATE DATABASE [VMS_FAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VMS_FAD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VMS_FAD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VMS_FAD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VMS_FAD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VMS_FAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VMS_FAD]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 3/10/2025 1:11:55 PM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[VisitorAddress]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorAddress](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NULL,
	[HouseNo] [varchar](50) NULL,
	[AreaStreet] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[PhoneNum] [varchar](50) NULL,
	[Pincode] [nchar](10) NULL,
	[VisitorHistoryID] [int] NULL,
	[VisitDate] [varchar](50) NULL,
 CONSTRAINT [PK_VisitorAddress] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorMaster](
	[VisitorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[DateTime] [datetime] NULL,
	[BarcodeLocation] [varchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[Image] [varchar](max) NULL,
	[OrderBy] [varchar](50) NULL,
	[ReasonForBlackList] [varchar](250) NULL,
	[PhoneNo] [varchar](50) NULL,
	[SKUCode] [nvarchar](150) NULL,
	[VisitorDesignation] [nvarchar](100) NULL,
	[UnitID] [int] NULL,
	[Profession] [nvarchar](50) NULL,
	[HostName] [nvarchar](50) NULL,
	[HostContactnumber] [varchar](50) NULL,
	[HostEmailID] [nvarchar](50) NULL,
	[Nationality] [nchar](20) NULL,
	[EmployeeID] [int] NULL,
	[OrganizationID] [int] NULL,
	[SecurityID] [int] NULL,
 CONSTRAINT [PK_VisitorMaster] PRIMARY KEY CLUSTERED 
(
	[VisitorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[GetVisitorsDetails1]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetVisitorsDetails1]
AS
SELECT        TOP (100) PERCENT dbo.VisitorMaster.VisitorID, ISNULL(dbo.VisitorMaster.Name, '') + ',  ' + ISNULL(dbo.VisitorMaster.CompanyName, '') + ',  ' + ISNULL(dbo.VisitorMaster.PhoneNo, '') 
                         + ',  ' + ISNULL(dbo.VisitorAddress.HouseNo, '') + ' ' + ISNULL(dbo.VisitorAddress.AreaStreet, '') + ' ' + ISNULL(dbo.VisitorAddress.City, '') + ' ' + ISNULL(dbo.VisitorAddress.State, '') 
                         + ' ' + ISNULL(dbo.VisitorAddress.Country, '') + ' ' + ISNULL(dbo.VisitorAddress.Pincode, '') AS VisitorDetails
FROM            dbo.VisitorMaster INNER JOIN
                         dbo.VisitorAddress ON dbo.VisitorMaster.VisitorID = dbo.VisitorAddress.VisitorID
ORDER BY dbo.VisitorMaster.VisitorID DESC





GO
/****** Object:  Table [dbo].[AdditonalPersonsDetails]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditonalPersonsDetails](
	[AdditionalPersonID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorHistoryID] [int] NULL,
	[Name] [varchar](50) NULL,
	[MobileNo] [varchar](50) NULL,
	[IDType] [nvarchar](150) NULL,
	[IDNumber] [nvarchar](150) NULL,
	[VisitDate] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentApprovalTransaction]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentApprovalTransaction](
	[ApprovalID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NULL,
	[UnitID] [int] NULL,
	[TypeOfApproval] [nchar](50) NULL,
	[Dateandtimeofapproval] [datetime] NULL,
	[StatusOfHOD] [nchar](10) NULL,
	[StatusOfAdmin] [nchar](10) NULL,
	[StatusOfCustomOfficer] [nchar](10) NULL,
	[Status] [nchar](50) NULL,
	[Approver] [nvarchar](150) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_AppointmentApprovalTransaction] PRIMARY KEY CLUSTERED 
(
	[ApprovalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentSchedule]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentSchedule](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[AppointmentWith] [varchar](50) NULL,
	[Date] [date] NULL,
	[Nationality] [nchar](20) NULL,
	[Profession] [nvarchar](50) NULL,
	[Designation] [nvarchar](50) NULL,
	[PurposeofVisit] [nvarchar](50) NULL,
	[Typeofvisit] [nvarchar](50) NULL,
	[Time] [nvarchar](50) NULL,
	[Company] [nvarchar](150) NULL,
	[VisitorID] [int] NULL,
	[RegDate] [datetime] NULL,
	[NoOfVisitors] [int] NULL,
	[AddonsNames] [nvarchar](max) NULL,
	[UserName] [nvarchar](50) NULL,
	[DocumentID] [nvarchar](max) NULL,
	[DocumentPath] [nvarchar](max) NULL,
	[DocumentID2] [nchar](10) NULL,
	[DocumentPath2] [nvarchar](max) NULL,
	[HostName] [varchar](50) NULL,
	[HostContactnumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DepartmentID] [int] NULL,
	[Status] [nchar](20) NULL,
	[Comment] [nvarchar](max) NULL,
	[EmployeeID] [int] NULL,
	[AppointmantWithID] [int] NULL,
	[IdType] [varchar](150) NULL,
	[IdNumber] [varchar](150) NULL,
	[UserID] [int] NULL,
	[UnitID] [int] NULL,
 CONSTRAINT [PK_AppointmentSchedule] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentScheduleHistory]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentScheduleHistory](
	[AppointmentHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](50) NULL,
	[Company] [nvarchar](150) NULL,
	[Designation] [nvarchar](50) NULL,
	[Profession] [nvarchar](50) NULL,
	[Nationality] [varchar](150) NULL,
	[Email] [nvarchar](50) NULL,
	[AppointmentID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalMaster](
	[ApprovalID] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NULL,
	[ApprovalDesignation] [nchar](50) NULL,
	[ApprovalName] [nchar](50) NULL,
	[MobileNumber] [nchar](10) NULL,
	[EmailAddreses] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_ApprovalMaster] PRIMARY KEY CLUSTERED 
(
	[ApprovalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactCenterMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactCenterMaster](
	[CenterID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ContractorName] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Landmark] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[PhoneNo] [nvarchar](15) NULL,
	[PhoneCode] [nvarchar](6) NULL,
 CONSTRAINT [PK_ContactCenterMaster] PRIMARY KEY CLUSTERED 
(
	[CenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentMaster](
	[OrganizationID] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationName] [nvarchar](150) NULL,
	[OrganizationType] [nvarchar](50) NULL,
	[PurposeOfDepartMapping] [int] NULL,
 CONSTRAINT [PK_DepartmentMaster] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceLocation]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceLocation](
	[DeviceID] [nchar](10) NOT NULL,
	[Location] [nvarchar](50) NULL,
	[DeviceLocationID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DeviceLocation] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentMaster](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentName] [varchar](50) NULL,
 CONSTRAINT [PK_DocumentMaster] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeMaster](
	[UnitID] [int] NULL,
	[EmployeeID] [varchar](50) NULL,
	[EmployeeName] [varchar](50) NULL,
	[OrganizationID] [int] NULL,
	[OrganizationType] [varchar](50) NULL,
	[MobileNo] [nchar](15) NULL,
	[Email] [varchar](256) NULL,
	[Designation] [varchar](50) NULL,
	[DateOfJoining] [date] NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [varchar](50) NULL,
	[MaritalStatus] [varchar](50) NULL,
	[BloodGroup] [varchar](10) NULL,
	[Address] [nvarchar](max) NULL,
	[Religion] [varchar](200) NULL,
	[Status] [bit] NULL,
	[EmpPWD] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GatePassHistory]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GatePassHistory](
	[GatePasshistoryID] [int] IDENTITY(1,1) NOT NULL,
	[USR_LOGIN] [varchar](50) NULL,
	[VisitorID] [int] NULL,
	[CheckInTime] [datetime] NULL,
	[CheckOutTime] [datetime] NULL,
	[VisitorHistoryID] [int] NULL,
 CONSTRAINT [PK_GatePassHistory] PRIMARY KEY CLUSTERED 
(
	[GatePasshistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagesMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagesMaster](
	[Image] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsCarried]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsCarried](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NULL,
	[Device] [varchar](50) NULL,
	[Maker] [varchar](50) NULL,
	[SRNo] [varchar](50) NULL,
	[Remarks] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_ItemsCarried] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsCarried_PriorAppointments]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsCarried_PriorAppointments](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NULL,
	[Device] [varchar](50) NULL,
	[Maker] [varchar](50) NULL,
	[SRNo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMaster1]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMaster1](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_NewEventMaster] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMasterNew]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMasterNew](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LocationMasterNew] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationVisitorMap]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationVisitorMap](
	[LocationvisitorMapID] [int] IDENTITY(1,1) NOT NULL,
	[LocationID] [int] NULL,
	[Code] [nvarchar](20) NULL,
 CONSTRAINT [PK_LocationVisitorMap] PRIMARY KEY CLUSTERED 
(
	[LocationvisitorMapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageMap]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageMap](
	[PRIV_INDEX] [int] NULL,
	[PRIV_NAME] [varchar](250) NULL,
	[PAGE_URL] [varchar](250) NULL,
	[PAGE_NAME] [varchar](250) NULL,
	[CATEGORY] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurposeofVisitMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurposeofVisitMaster](
	[PurposeofVisitID] [int] IDENTITY(1,1) NOT NULL,
	[PurposeofVisit] [varchar](50) NULL,
	[PurposeOfDepartMapping] [int] NULL,
 CONSTRAINT [PK_PurposeofVisitMaster] PRIMARY KEY CLUSTERED 
(
	[PurposeofVisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcitylist]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcitylist](
	[city_id] [int] IDENTITY(1043,1) NOT NULL,
	[city_name] [varchar](50) NOT NULL,
	[latitude] [varchar](10) NOT NULL,
	[longitude] [varchar](10) NOT NULL,
	[state] [varchar](50) NOT NULL,
 CONSTRAINT [PK__tblcityl__031491A8B87C0E52] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLOG]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLOG](
	[LOG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_INFO] [varchar](255) NULL,
	[UPDATED_TIME] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblROLE]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [varchar](25) NULL,
	[ROLE_DESC] [varchar](255) NULL,
	[ROLE_PRIVILEGES] [varchar](max) NULL,
	[CREATE_DATE] [datetime] NULL,
	[STATUS] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblState]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblState](
	[StateID] [int] NULL,
	[StateName] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUSER]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUSER](
	[USR_ROLEID] [int] NULL,
	[DESIGNATION] [varchar](50) NULL,
	[USR_LOGIN] [varchar](100) NOT NULL,
	[USR_PASSWORD] [varchar](25) NOT NULL,
	[USR_TYPE] [char](8) NULL,
	[USR_PRIVILEGES] [varchar](max) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[EmailId] [varchar](max) NULL,
	[USR_STATUS] [varchar](50) NOT NULL,
	[USR_NAME] [nvarchar](50) NULL,
	[USR_ID] [int] IDENTITY(1,1) NOT NULL,
	[USR_PHONE_NO] [nvarchar](50) NULL,
	[UnitID] [int] NULL,
	[Designation_new] [nvarchar](50) NULL,
	[Emp_ID] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[CompanyForUnitIV] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblUSER] PRIMARY KEY CLUSTERED 
(
	[USR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempretureMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempretureMaster](
	[Pkid] [int] IDENTITY(1,1) NOT NULL,
	[BodyTemperature] [varchar](max) NULL,
	[CardId] [varchar](max) NULL,
	[DeviceId] [varchar](max) NULL,
	[IsFahrenheit] [varchar](max) NULL,
	[UniqueTransactionId] [varchar](max) NULL,
	[jsonString] [nvarchar](max) NULL,
	[TryCount] [varchar](max) NULL,
	[ImageBase64] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [nchar](10) NULL,
	[Date] [date] NULL,
	[InTime] [datetime] NULL,
	[OutTime] [time](7) NULL,
	[DeviceID] [nchar](10) NULL,
	[GeoLocation] [nchar](10) NULL,
	[Ispresent] [bit] NULL,
	[Status] [nchar](10) NULL,
	[OrgID] [nchar](20) NULL,
	[Lattitude] [float] NULL,
	[Longitude] [float] NULL,
 CONSTRAINT [PK_TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitMaster](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [varchar](50) NULL,
	[AliasName] [varchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Emergency_contact_No] [nvarchar](20) NULL,
 CONSTRAINT [PK_UnitMaster] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistration](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_UserRegistration] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorFingerPrintImageDetails]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorFingerPrintImageDetails](
	[VisitorMapID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NULL,
	[FPRawByte] [image] NULL,
	[FPHieght] [int] NULL,
	[FPWidth] [int] NULL,
	[Nfiq] [int] NULL,
	[FpIsoByte] [image] NULL,
 CONSTRAINT [PK_VisitorFingerPrintImageDetails] PRIMARY KEY CLUSTERED 
(
	[VisitorMapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorRegistration]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorRegistration](
	[RegisterID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorName] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[Profession] [nvarchar](50) NULL,
	[Designation] [nvarchar](50) NULL,
	[Typeofvisit] [nvarchar](50) NULL,
	[Purposeofvisit] [nvarchar](50) NULL,
	[Appointmentwith] [nvarchar](50) NULL,
	[Nationality] [nchar](20) NULL,
	[Hostname] [nvarchar](50) NULL,
	[Hostcontactnumber] [nvarchar](50) NULL,
	[IDType] [nvarchar](50) NULL,
	[IDNumber] [nvarchar](50) NULL,
	[Phonenumber] [nvarchar](50) NULL,
	[UnitID] [int] NULL,
	[NoOfVisitors] [nchar](10) NULL,
	[AdditionalPersonName] [nvarchar](50) NULL,
	[DateOfRegistration] [date] NULL,
	[Status] [nchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorRFIDMapping]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorRFIDMapping](
	[VisitorRfidMappingID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NULL,
	[RFID] [nvarchar](50) NULL,
	[Status] [nchar](10) NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_VisitorRFIDMapping] PRIMARY KEY CLUSTERED 
(
	[VisitorRfidMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorsHistory]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorsHistory](
	[VisitorHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NULL,
	[CheckInTime] [datetime] NULL,
	[CheckOutTime] [datetime] NULL,
	[TypeOfVisit] [nvarchar](50) NULL,
	[PurposeOfVisit] [nvarchar](50) NULL,
	[TypeOfPass] [nvarchar](50) NULL,
	[NoOfVisitors] [nvarchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Age] [varchar](50) NULL,
	[EmployeeID] [nvarchar](150) NULL,
	[WhomToMeet] [nvarchar](50) NULL,
	[IDType] [nvarchar](150) NULL,
	[IDNum] [nvarchar](150) NULL,
	[IDPath] [varchar](max) NULL,
	[VisitorSequence] [int] NULL,
	[PassLocation] [nvarchar](max) NULL,
	[PassImage] [nvarchar](max) NULL,
	[PassNo] [varchar](50) NULL,
	[Addons] [nvarchar](max) NULL,
	[OrganizationID] [int] NULL,
	[Status] [nchar](20) NULL,
	[ApprovedBy] [varchar](50) NULL,
	[ReferenceCode] [nchar](6) NULL,
	[OTP] [nchar](10) NULL,
	[AppointmentType] [varchar](50) NULL,
	[VehicleType] [varchar](50) NULL,
	[VehicleNumber] [varchar](20) NULL,
	[ZoneID] [int] NULL,
	[PlaceOfVisit] [varchar](250) NULL,
	[IdentificationMark] [varchar](250) NULL,
	[WorkPlace] [varchar](50) NULL,
	[WorkOrderNo] [varchar](50) NULL,
	[Duration] [varchar](50) NULL,
	[Nationality] [varchar](50) NULL,
	[DurationToDate] [datetime] NULL,
	[DurationFromDate] [datetime] NULL,
	[bodyTempreture] [varchar](50) NULL,
	[VisitDate] [date] NULL,
	[PassStatus] [varchar](50) NULL,
	[PresentAddress] [nvarchar](max) NULL,
	[ParmanentAddress] [nvarchar](max) NULL,
	[DrivingLicenceNo] [nvarchar](50) NULL,
	[VISAType] [nvarchar](50) NULL,
	[VISANo] [nvarchar](50) NULL,
	[PassportValidity] [varchar](50) NULL,
	[VISAValidity] [varchar](50) NULL,
	[ETANo] [varchar](50) NULL,
	[DateOfIssue] [varchar](50) NULL,
	[DateOfExpiry] [varchar](50) NULL,
	[UserID] [int] NULL,
	[DepartmentName] [varchar](250) NULL,
 CONSTRAINT [PK_VisitorsHistory] PRIMARY KEY CLUSTERED 
(
	[VisitorHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZoneMaster]    Script Date: 3/10/2025 1:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZoneMaster](
	[ZoneID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [nvarchar](50) NULL,
	[ColorCode] [varchar](50) NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_ZoneMaster] PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppointmentApprovalTransaction] ON 

INSERT [dbo].[AppointmentApprovalTransaction] ([ApprovalID], [AppointmentID], [UnitID], [TypeOfApproval], [Dateandtimeofapproval], [StatusOfHOD], [StatusOfAdmin], [StatusOfCustomOfficer], [Status], [Approver], [Comment]) VALUES (1, 1, 1, N'AppointmentApproval                               ', CAST(N'2024-10-17T12:37:32.000' AS DateTime), N'Approved  ', N'Pending   ', N'Pending   ', N'Approved                                          ', NULL, N'')
INSERT [dbo].[AppointmentApprovalTransaction] ([ApprovalID], [AppointmentID], [UnitID], [TypeOfApproval], [Dateandtimeofapproval], [StatusOfHOD], [StatusOfAdmin], [StatusOfCustomOfficer], [Status], [Approver], [Comment]) VALUES (2, 13, 1, N'AppointmentApproval                               ', CAST(N'2024-10-17T15:56:48.000' AS DateTime), N'Approved  ', N'Pending   ', N'Pending   ', N'Approved                                          ', NULL, N'')
SET IDENTITY_INSERT [dbo].[AppointmentApprovalTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentSchedule] ON 

SET IDENTITY_INSERT [dbo].[AppointmentSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartmentMaster] ON 

INSERT [dbo].[DepartmentMaster] ([OrganizationID], [OrganizationName], [OrganizationType], [PurposeOfDepartMapping]) VALUES (1013, N'SL', N'SL', NULL)
INSERT [dbo].[DepartmentMaster] ([OrganizationID], [OrganizationName], [OrganizationType], [PurposeOfDepartMapping]) VALUES (1014, N'SO', N'SO', NULL)
INSERT [dbo].[DepartmentMaster] ([OrganizationID], [OrganizationName], [OrganizationType], [PurposeOfDepartMapping]) VALUES (1015, N'HR', N'HR', NULL)
SET IDENTITY_INSERT [dbo].[DepartmentMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentMaster] ON 

INSERT [dbo].[DocumentMaster] ([DocumentID], [DocumentName]) VALUES (1, N'Aadhaar Card')
INSERT [dbo].[DocumentMaster] ([DocumentID], [DocumentName]) VALUES (2, N'Voter ID')
INSERT [dbo].[DocumentMaster] ([DocumentID], [DocumentName]) VALUES (3, N'PAN ')
SET IDENTITY_INSERT [dbo].[DocumentMaster] OFF
GO
INSERT [dbo].[EmployeeMaster] ([UnitID], [EmployeeID], [EmployeeName], [OrganizationID], [OrganizationType], [MobileNo], [Email], [Designation], [DateOfJoining], [DateOfBirth], [Gender], [MaritalStatus], [BloodGroup], [Address], [Religion], [Status], [EmpPWD]) VALUES (1, N'123', N'Vishnu t1', 1013, NULL, N'8019899506     ', N'eerannagaribharath860@gmail.com
', N'CGM', CAST(N'2024-08-19' AS Date), CAST(N'2024-08-21' AS Date), N'Male', N'Unmarried', N'', N'', N'', NULL, NULL)
INSERT [dbo].[EmployeeMaster] ([UnitID], [EmployeeID], [EmployeeName], [OrganizationID], [OrganizationType], [MobileNo], [Email], [Designation], [DateOfJoining], [DateOfBirth], [Gender], [MaritalStatus], [BloodGroup], [Address], [Religion], [Status], [EmpPWD]) VALUES (1, N'1', N'Rakshandasf', 1014, N'service', N'9168090388     ', N'eerannagaribharath860@gmail.com
', NULL, CAST(N'2019-06-30' AS Date), CAST(N'2019-09-27' AS Date), N'Male', N'Unmarried', N'o+', N'Ameerpet', N'Hindu', NULL, NULL)
INSERT [dbo].[EmployeeMaster] ([UnitID], [EmployeeID], [EmployeeName], [OrganizationID], [OrganizationType], [MobileNo], [Email], [Designation], [DateOfJoining], [DateOfBirth], [Gender], [MaritalStatus], [BloodGroup], [Address], [Religion], [Status], [EmpPWD]) VALUES (1, N'30022', N'Amit Gupta', 1013, NULL, N'09869221406    ', N'eerannagaribharath860@gmail.com
', N'DGM', CAST(N'2024-08-01' AS Date), CAST(N'1984-08-24' AS Date), N'Male', N'Married', N'', N'', N'', NULL, NULL)
GO
INSERT [dbo].[PageMap] ([PRIV_INDEX], [PRIV_NAME], [PAGE_URL], [PAGE_NAME], [CATEGORY]) VALUES (1, N'ViewVisitorsTimeWise', N'ViewVisitorsTimeWise.aspx', N'ViewVisitorsTimeWise', NULL)
INSERT [dbo].[PageMap] ([PRIV_INDEX], [PRIV_NAME], [PAGE_URL], [PAGE_NAME], [CATEGORY]) VALUES (2, N'CheckIN', N'Scanbarcode.aspx', N'CheckIN', N'Security')
INSERT [dbo].[PageMap] ([PRIV_INDEX], [PRIV_NAME], [PAGE_URL], [PAGE_NAME], [CATEGORY]) VALUES (3, N'CheckOut', N'checkedOut.aspx', N'CheckOut', N'Security')
GO
SET IDENTITY_INSERT [dbo].[PurposeofVisitMaster] ON 

INSERT [dbo].[PurposeofVisitMaster] ([PurposeofVisitID], [PurposeofVisit], [PurposeOfDepartMapping]) VALUES (1, N'Office Visit', 1)
INSERT [dbo].[PurposeofVisitMaster] ([PurposeofVisitID], [PurposeofVisit], [PurposeOfDepartMapping]) VALUES (2, N'Work Visit', 2)
SET IDENTITY_INSERT [dbo].[PurposeofVisitMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tblcitylist] ON 

INSERT [dbo].[tblcitylist] ([city_id], [city_name], [latitude], [longitude], [state]) VALUES (1043, N'Port Blair', N'11.67 N', N'92.76 E', N'Andaman and Nicobar Islands')
INSERT [dbo].[tblcitylist] ([city_id], [city_name], [latitude], [longitude], [state]) VALUES (1044, N'Adilabad', N'19.68 N', N'78.53 E', N'Telangana')
INSERT [dbo].[tblcitylist] ([city_id], [city_name], [latitude], [longitude], [state]) VALUES (1045, N'Adoni', N'15.63 N', N'77.28 E', N'Andhra Pradesh')
INSERT [dbo].[tblcitylist] ([city_id], [city_name], [latitude], [longitude], [state]) VALUES (1088, N'Lalbahadur Nagar', N'17.43 N', N'78.50 